body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.section-title h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #495057; /* Darker grey color */
  color: white;
}

.filter-buttons button:hover {
  background-color: #343a40; /* Even darker grey on hover */
}

.filter-buttons button.active {
  background-color: #212529; /* Very dark grey when active */
}

.publication-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.publication-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px); /* Adjusted to make the items smaller */
  box-sizing: border-box;
  text-align: left;
  display: block;
}

.publication-item h3 {
  margin: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}

.publication-item h3 a {
  color: #007bff;
  text-decoration: none;
}

.publication-item h3 a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .publication-item {
    width: 100%;
  }
}

/* */
.profile-img {
  width: 100%; /* Ensures the image is responsive */
  height: auto; /* Maintains the aspect ratio */
  max-height: 300px; /* Adjust this to make the image rectangular */
  object-fit: cover; /* Ensures the image fills the rectangle without distortion */
  border-radius: 8px; /* Optional: adds slightly rounded corners to the image */
}




.about-heading {
  font-size: clamp(var(--fs-600), 1rem + 5vw, 5rem);
  font-weight: 900;
}
